.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    padding: 22px 32px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    letter-spacing: 0.7px;
    line-height: 20px;
    color: var(--c-white);
    background-color: var(--c-ozon-blue);
    outline: none;
    cursor: pointer;
}


.input {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    padding: 16px 20px;
    border: 1px solid var(--c-mystic);
    border-radius: 6px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.7px;
}

.input::placeholder {
    color: var(--c-dark-space);
}

.input:focus {
    outline: none;
}

.input:valid {
    border-color: var(--c-cadet-blue);
}

.select {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    padding: 16px 20px;
    border: 1px solid var(--c-cadet-blue);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--c-white);
}
 
.select__dropdown {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    max-height: 240px;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 20px var(--c-mystic);
    border-radius: 6px;
    width: 100%;
    list-style-type: none;
    overflow-y: auto;
}

.select__dropdownItem {
    display: flex;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
    padding: 12px 20px;
    border-bottom: 1px solid #e9eef1;
}

.select__dropdownItem:last-of-type {
    border-bottom: none;
}

.select__dropdownItem:hover {
    background-color: var(--c-ozon-blue-10);
}

.select__dropdownItem:active {
    background-color: var(--c-ozon-blue-50);
}

.select__icon-opened {
transform: rotate(180deg);
}

