:root {
    --f-reg: 'OSReg';
    --f-bold: 'OSBold';
    --f-light: 'OSLight';

    --c-midnight: #001A34;
    --c-ozon-blue: #005BFF;
    --c-ozon-blue-op100: #0059ff00;
    --c-ozon-blue-op70: #0059ffa3;
    --c-ozon-blue-op35: #0059ff54;
    --c-ozon-blue-10: #E0EBFF;
    --c-ozon-blue-50: #7FADFF;
    --c-white: #fff;
    --c-mystic: #DEE5EA;
    --c-dark-space: #667585;
    --c-cadet-blue: #B2BAC2;
    --c-aqua-haze: #EFF3F6;
}